header{
    background: rgb(14, 56, 75);
    .logo{
        font-weight: bold;
        justify-self: left;
    }
    nav{
        justify-self: right;
    }
    ul{
        list-style-type: none;
        margin: 0px; padding: 0px;
        li{
            float: left;
            a{
                padding: 1.5em;
                text-transform: uppercase;
                font-size: 1em;

                &:hover{
                    background: rgb(88, 87, 114)
                }
            }
        }
    }

}