<h1>Product Details:</h1>
<div class="container">
    <div *ngIf="product">
        <div class="row">
            <div class="col-sm-6">
                <img src="{{product.product_img}}" class="img-thumbnail"  />
            </div>          
            <div class="col-sm-6">
                <div><span>id: </span>{{product.product_id}}</div>
                <div><span>Name: </span>{{product.product_name}}</div>
                <div><span>Price: </span>${{product.product_price}}</div>
            </div>
            
          </div>
  
        
        
        
        <div class="container">
          <p>{{product.product_details}}</p>
        </div>
        
      
      </div>
      <div>
      <button (click)="goBack()">go back</button>
        </div>

</div>


<p>
  details works!
</p>
